
<div class="m-3 card shadow-lg">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">Purchase</div>
            <div class="text-end col-md-6">
                <div class="form-floating">
                <input style="width: 50%;" type="date" class="form-control">
                <label for="floatingInput">Date</label>
            </div>
            <div class="form-floating">
                <select
                  class="form-select"
                  id="floatingSelect"
                  style="width: 50%;"
                  aria-label="Floating label select example"
                >
                  <option></option>
                  <option value="1">abc</option>
                  <option value="2">xyz</option>
                </select>
                <label for="floatingSelect">Select Company Name</label>
              </div>
            </div>
        </div>
    </div>
    <div class="card-body"></div>
</div>